-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: pharma_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `batches`
--

DROP TABLE IF EXISTS `batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `batches` (
  `batch_number` varchar(100) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `expiration_date` date NOT NULL,
  `quantity` float NOT NULL,
  `purchase_price` float DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `medicine_id` (`medicine_id`),
  KEY `ix_batches_batch_number` (`batch_number`),
  KEY `ix_batches_expiration_date` (`expiration_date`),
  KEY `ix_batches_id` (`id`),
  CONSTRAINT `batches_ibfk_1` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batches`
--

LOCK TABLES `batches` WRITE;
/*!40000 ALTER TABLE `batches` DISABLE KEYS */;
INSERT INTO `batches` VALUES ('LOT-088289',1,'2028-09-10',290,1666.67,1,1,'2026-09-11 23:28:08','2026-09-11 23:44:29');
/*!40000 ALTER TABLE `batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `total_points` int(11) NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_customers_phone` (`phone`),
  KEY `ix_customers_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deletion_logs`
--

DROP TABLE IF EXISTS `deletion_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deletion_logs` (
  `action` varchar(50) NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` int(11) DEFAULT NULL,
  `entity_name` varchar(255) NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  `username` varchar(100) NOT NULL,
  `user_role` varchar(50) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `ix_deletion_logs_id` (`id`),
  KEY `ix_deletion_logs_entity_type` (`entity_type`),
  KEY `ix_deletion_logs_username` (`username`),
  KEY `ix_deletion_logs_created_at` (`created_at`),
  KEY `ix_deletion_logs_action` (`action`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deletion_logs`
--

LOCK TABLES `deletion_logs` WRITE;
/*!40000 ALTER TABLE `deletion_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `deletion_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicine_families`
--

DROP TABLE IF EXISTS `medicine_families`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicine_families` (
  `name` varchar(100) NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `ix_medicine_families_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine_families`
--

LOCK TABLES `medicine_families` WRITE;
/*!40000 ALTER TABLE `medicine_families` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_families` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicine_pricing`
--

DROP TABLE IF EXISTS `medicine_pricing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicine_pricing` (
  `medicine_id` int(11) DEFAULT NULL,
  `nom` varchar(200) NOT NULL,
  `dci` varchar(200) DEFAULT NULL,
  `forme` varchar(100) DEFAULT NULL,
  `dosage` varchar(100) DEFAULT NULL,
  `lot` varchar(100) NOT NULL,
  `fournisseur` varchar(200) DEFAULT NULL,
  `bon_livraison` varchar(100) DEFAULT NULL,
  `date_reception` date DEFAULT NULL,
  `date_peremption` date DEFAULT NULL,
  `nb_cartons` int(11) NOT NULL,
  `boites_par_carton` int(11) NOT NULL,
  `plaquettes_par_boite` int(11) NOT NULL,
  `comprimes_par_plaquette` int(11) NOT NULL,
  `total_boites` int(11) NOT NULL,
  `total_plaquettes` int(11) NOT NULL,
  `total_comprimes` int(11) NOT NULL,
  `prix_mode` varchar(20) NOT NULL,
  `achat_carton` float NOT NULL,
  `achat_boite` float NOT NULL,
  `achat_plaquette` float NOT NULL,
  `achat_comprime` float NOT NULL,
  `vente_carton` float NOT NULL,
  `vente_boite` float NOT NULL,
  `vente_plaquette` float NOT NULL,
  `vente_comprime` float NOT NULL,
  `marge_pct` float DEFAULT NULL,
  `benefice_estime` float NOT NULL,
  `seuil_alerte` int(11) NOT NULL,
  `seuil_niveau` varchar(20) NOT NULL,
  `alerte_peremption` tinyint(1) NOT NULL,
  `alerte_jours` int(11) NOT NULL,
  `ordonnance` varchar(20) NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `emplacement` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_medicine_pricing_nom` (`nom`),
  KEY `ix_medicine_pricing_id` (`id`),
  KEY `ix_medicine_pricing_lot` (`lot`),
  KEY `ix_medicine_pricing_medicine_id` (`medicine_id`),
  CONSTRAINT `medicine_pricing_ibfk_1` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine_pricing`
--

LOCK TABLES `medicine_pricing` WRITE;
/*!40000 ALTER TABLE `medicine_pricing` DISABLE KEYS */;
INSERT INTO `medicine_pricing` VALUES (1,'Paracetamol','Paracetamol','Comprim├®','500mg','LOT-088289','Pharma_Dist_1789119343','L001','2026-09-11','2028-09-10',0,10,3,10,9,29,290,'pct_marge',500000,50000,16666.7,1666.67,510000,51000,17000,1700,2,9665.7,10,'boites',1,90,'non',1,'2026-09-11 23:28:08','2026-09-30 18:09:26',NULL);
/*!40000 ALTER TABLE `medicine_pricing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicine_types`
--

DROP TABLE IF EXISTS `medicine_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicine_types` (
  `name` varchar(50) NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `ix_medicine_types_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine_types`
--

LOCK TABLES `medicine_types` WRITE;
/*!40000 ALTER TABLE `medicine_types` DISABLE KEYS */;
INSERT INTO `medicine_types` VALUES ('Comprim├®',1,'2026-09-11 11:11:40','2026-09-11 11:11:40'),('Comprim├®_1789118121',2,'2026-09-11 11:15:22','2026-09-11 11:15:22'),('Comprim├®_1789118589',3,'2026-09-11 11:23:09','2026-09-11 11:23:09'),('Comprim├®_1789118968',4,'2026-09-11 11:29:29','2026-09-11 11:29:29'),('Comprim├®_1789119663',5,'2026-09-11 11:41:04','2026-09-11 11:41:04'),('Comprim├®_1789120480',6,'2026-09-11 11:54:41','2026-09-11 11:54:41'),('Comprim├®_1789121697',7,'2026-09-11 12:14:58','2026-09-11 12:14:58');
/*!40000 ALTER TABLE `medicine_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicines`
--

DROP TABLE IF EXISTS `medicines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicines` (
  `code` varchar(50) NOT NULL,
  `name` varchar(200) NOT NULL,
  `code_barres` varchar(50) DEFAULT NULL,
  `dci` varchar(200) DEFAULT NULL,
  `family_id` int(11) DEFAULT NULL,
  `type_id` int(11) DEFAULT NULL,
  `forme_galenique` varchar(100) DEFAULT NULL,
  `quantity` float NOT NULL,
  `min_stock_alert` int(11) NOT NULL,
  `expiry_alert_threshold` int(11) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `expiry_date` date DEFAULT NULL,
  `fournisseur` varchar(200) DEFAULT NULL,
  `boxes_per_carton` int(11) NOT NULL,
  `blisters_per_box` int(11) NOT NULL,
  `units_per_blister` int(11) NOT NULL,
  `prix_achat_unite` float DEFAULT NULL,
  `prix_vente_unite` float DEFAULT NULL,
  `prix_achat_boite` float DEFAULT NULL,
  `prix_vente_boite` float DEFAULT NULL,
  `prix_achat_plaquette` float DEFAULT NULL,
  `prix_vente_plaquette` float DEFAULT NULL,
  `prix_achat_carton` float DEFAULT NULL,
  `prix_vente_carton` float DEFAULT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `price_buy` float NOT NULL DEFAULT 0,
  `price_sell` float NOT NULL DEFAULT 0,
  `lot_fabricant` varchar(100) DEFAULT NULL,
  `date_entree_stock` date DEFAULT NULL,
  `carton_type` varchar(50) DEFAULT 'Carton',
  `units_per_packaging` int(11) DEFAULT 1,
  `packaging` varchar(50) DEFAULT NULL,
  `dosage_form` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_medicines_code` (`code`),
  KEY `family_id` (`family_id`),
  KEY `type_id` (`type_id`),
  KEY `ix_medicines_name` (`name`),
  KEY `ix_medicines_code_barres` (`code_barres`),
  KEY `ix_medicines_id` (`id`),
  CONSTRAINT `medicines_ibfk_1` FOREIGN KEY (`family_id`) REFERENCES `medicine_families` (`id`),
  CONSTRAINT `medicines_ibfk_2` FOREIGN KEY (`type_id`) REFERENCES `medicine_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicines`
--

LOCK TABLES `medicines` WRITE;
/*!40000 ALTER TABLE `medicines` DISABLE KEYS */;
INSERT INTO `medicines` VALUES ('MED-0001','Paracetamol',NULL,'Paracetamol',NULL,NULL,'Comprim├®',290,10,30,1,'2028-09-10','Pharma_Dist_1789119343',10,3,10,1666.67,1700,50000,51000,16666.7,17000,500000,510000,1,'2026-09-11 23:28:08','2026-09-11 23:44:29',0,0,NULL,NULL,'Carton',1,NULL,NULL);
/*!40000 ALTER TABLE `medicines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pos_sale_items`
--

DROP TABLE IF EXISTS `pos_sale_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pos_sale_items` (
  `sale_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `unit_price` float NOT NULL,
  `total_price` float NOT NULL,
  `sale_type` varchar(20) NOT NULL,
  `discount_percent` float NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `medicine_id` (`medicine_id`),
  KEY `batch_id` (`batch_id`),
  KEY `ix_pos_sale_items_id` (`id`),
  KEY `pos_sale_items_ibfk_1` (`sale_id`),
  CONSTRAINT `pos_sale_items_ibfk_1` FOREIGN KEY (`sale_id`) REFERENCES `pos_sales` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pos_sale_items_ibfk_2` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`),
  CONSTRAINT `pos_sale_items_ibfk_3` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pos_sale_items`
--

LOCK TABLES `pos_sale_items` WRITE;
/*!40000 ALTER TABLE `pos_sale_items` DISABLE KEYS */;
INSERT INTO `pos_sale_items` VALUES (1,1,1,1,17000,17000,'plaquette',0,1,'2026-09-11 23:44:29','2026-09-11 23:44:29');
/*!40000 ALTER TABLE `pos_sale_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pos_sales`
--

DROP TABLE IF EXISTS `pos_sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pos_sales` (
  `sale_uuid` varchar(36) NOT NULL,
  `code` varchar(50) NOT NULL,
  `total_amount` float NOT NULL,
  `payment_method` varchar(20) NOT NULL,
  `date` datetime NOT NULL DEFAULT current_timestamp(),
  `user_id` int(11) NOT NULL,
  `customer_id` int(11) DEFAULT NULL,
  `customer_name` varchar(200) DEFAULT NULL,
  `customer_phone` varchar(30) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `notes` varchar(500) DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `cancelled_by` int(11) DEFAULT NULL,
  `insurance_provider` varchar(100) DEFAULT NULL,
  `insurance_card_id` varchar(50) DEFAULT NULL,
  `coverage_percent` float NOT NULL,
  `sync_status` varchar(20) NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `synced_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sale_uuid` (`sale_uuid`),
  UNIQUE KEY `ix_pos_sales_code` (`code`),
  KEY `user_id` (`user_id`),
  KEY `customer_id` (`customer_id`),
  KEY `cancelled_by` (`cancelled_by`),
  KEY `ix_pos_sales_date` (`date`),
  KEY `ix_pos_sales_id` (`id`),
  CONSTRAINT `pos_sales_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `pos_sales_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `pos_sales_ibfk_3` FOREIGN KEY (`cancelled_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pos_sales`
--

LOCK TABLES `pos_sales` WRITE;
/*!40000 ALTER TABLE `pos_sales` DISABLE KEYS */;
INSERT INTO `pos_sales` VALUES ('dff51536-3a78-45df-93db-71eb5ee4b7e0','POS-2026-0001',17000,'cash','2026-09-11 23:44:29',1,NULL,NULL,NULL,'completed',NULL,NULL,NULL,NULL,NULL,0,'local_only',1,'2026-09-11 23:44:29','2026-09-11 23:44:29',NULL);
/*!40000 ALTER TABLE `pos_sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restock_items`
--

DROP TABLE IF EXISTS `restock_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `restock_items` (
  `order_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL,
  `price_buy` float NOT NULL,
  `expiry_date` date DEFAULT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `order_id` (`order_id`),
  KEY `medicine_id` (`medicine_id`),
  KEY `ix_restock_items_id` (`id`),
  CONSTRAINT `restock_items_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `restock_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `restock_items_ibfk_2` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restock_items`
--

LOCK TABLES `restock_items` WRITE;
/*!40000 ALTER TABLE `restock_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `restock_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restock_orders`
--

DROP TABLE IF EXISTS `restock_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `restock_orders` (
  `supplier_id` int(11) NOT NULL,
  `status` enum('DRAFT','CONFIRMED','RECEIVED','CANCELLED') NOT NULL,
  `date` date NOT NULL,
  `total_amount` float NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `supplier_id` (`supplier_id`),
  KEY `ix_restock_orders_date` (`date`),
  KEY `ix_restock_orders_id` (`id`),
  CONSTRAINT `restock_orders_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restock_orders`
--

LOCK TABLES `restock_orders` WRITE;
/*!40000 ALTER TABLE `restock_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `restock_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale_items`
--

DROP TABLE IF EXISTS `sale_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sale_items` (
  `sale_id` int(11) NOT NULL,
  `medicine_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL,
  `unit_price` float NOT NULL,
  `total_price` float NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `sale_type` varchar(20) DEFAULT 'packaging',
  `discount_percent` float DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `sale_id` (`sale_id`),
  KEY `medicine_id` (`medicine_id`),
  KEY `ix_sale_items_id` (`id`),
  CONSTRAINT `sale_items_ibfk_1` FOREIGN KEY (`sale_id`) REFERENCES `sales` (`id`),
  CONSTRAINT `sale_items_ibfk_2` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_items`
--

LOCK TABLES `sale_items` WRITE;
/*!40000 ALTER TABLE `sale_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `sale_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales`
--

DROP TABLE IF EXISTS `sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales` (
  `customer_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  `total_amount` float NOT NULL,
  `payment_method` varchar(20) NOT NULL,
  `date` datetime NOT NULL DEFAULT current_timestamp(),
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `code` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'completed',
  `cancelled_at` datetime DEFAULT NULL,
  `cancelled_by` int(11) DEFAULT NULL,
  `insurance_provider` varchar(100) DEFAULT NULL,
  `insurance_card_id` varchar(50) DEFAULT NULL,
  `coverage_percent` float DEFAULT 0,
  `sync_status` varchar(20) DEFAULT 'local_only',
  PRIMARY KEY (`id`),
  KEY `customer_id` (`customer_id`),
  KEY `user_id` (`user_id`),
  KEY `ix_sales_date` (`date`),
  KEY `ix_sales_id` (`id`),
  CONSTRAINT `sales_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `sales_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales`
--

LOCK TABLES `sales` WRITE;
/*!40000 ALTER TABLE `sales` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `key` varchar(100) NOT NULL,
  `value` text DEFAULT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_settings_key` (`key`),
  KEY `ix_settings_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_movements`
--

DROP TABLE IF EXISTS `stock_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_movements` (
  `medicine_id` int(11) NOT NULL,
  `batch_id` int(11) DEFAULT NULL,
  `type` varchar(30) NOT NULL,
  `quantite` int(11) NOT NULL,
  `motif` varchar(200) DEFAULT NULL,
  `reference` varchar(100) DEFAULT NULL,
  `date_mouvement` datetime NOT NULL DEFAULT current_timestamp(),
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `pricing_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `batch_id` (`batch_id`),
  KEY `ix_stock_movements_medicine_id` (`medicine_id`),
  KEY `ix_stock_movements_reference` (`reference`),
  KEY `ix_stock_movements_id` (`id`),
  KEY `ix_stock_movements_date_mouvement` (`date_mouvement`),
  KEY `ix_stock_movements_type` (`type`),
  CONSTRAINT `stock_movements_ibfk_1` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`),
  CONSTRAINT `stock_movements_ibfk_2` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_movements`
--

LOCK TABLES `stock_movements` WRITE;
/*!40000 ALTER TABLE `stock_movements` DISABLE KEYS */;
INSERT INTO `stock_movements` VALUES (1,1,'entree',300,'R├®ception lot LOT-088289','PRICING-1','2026-09-11 23:28:08',1,'2026-09-11 23:28:08','2026-09-11 23:28:08',NULL),(1,1,'sortie_vente',-10,'Vente POS POS-2026-0001 (1 plaquette)','POS-2026-0001','2026-09-11 23:44:29',2,'2026-09-11 23:44:29','2026-09-11 23:44:29',NULL);
/*!40000 ALTER TABLE `stock_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `name` varchar(200) NOT NULL,
  `contact_person` varchar(200) DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  `contact_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_suppliers_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sync_logs`
--

DROP TABLE IF EXISTS `sync_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sync_logs` (
  `timestamp` datetime NOT NULL,
  `status` enum('SUCCESS','FAILURE','PENDING') NOT NULL,
  `message` text DEFAULT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `ix_sync_logs_timestamp` (`timestamp`),
  KEY `ix_sync_logs_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sync_logs`
--

LOCK TABLES `sync_logs` WRITE;
/*!40000 ALTER TABLE `sync_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `sync_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sync_queue`
--

DROP TABLE IF EXISTS `sync_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sync_queue` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action` enum('CREATE','UPDATE','DELETE') NOT NULL,
  `table_name` varchar(50) NOT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`data`)),
  `status` enum('PENDING','DONE','ERROR') DEFAULT NULL,
  `error_message` varchar(255) DEFAULT NULL,
  `retry_count` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_sync_queue_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sync_queue`
--

LOCK TABLES `sync_queue` WRITE;
/*!40000 ALTER TABLE `sync_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `sync_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('ADMIN','PHARMACIST','SUPER_ADMIN') NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `must_change_password` tinyint(1) NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_username` (`username`),
  KEY `ix_users_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-30 18:37:43
